.star-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}
.header {
    text-align: center;
    margin: 30px;
}
.stars {
    margin: 0 10px;
}
.stars img {
    cursor: pointer;
}