#products {
    display: grid;
    grid-template-columns: auto auto auto auto;
    overflow-y: scroll
}
#products div {
    width: 300px;
    height: 400px;
    background: beige;
    border: 1px solid #000;
    margin: 16px;
}