.toast-container {
    position: absolute !important;
    top: 20px;
    right: 20px;
    padding: 16px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: flex;
    width: 250px;
    justify-content: space-between;
}

.toast-container::before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 4px;
    background-color: green; 
    animation: borderAnimation 2s ease-in-out forwards;
}

@keyframes borderAnimation {
    from {
        width: 0;
    }
    to {
        width: 100%;
    }
}

.cursor-pointer {
    cursor: pointer;
}
